{% extends "layout.html" %}

{% block content %}
    <div class="entry-list single">
        <article>
            <h1>{{ entry.title }}</h1>
            <time datetime="{{ entry.date }}">{{ entry.date.strftime("%m-%d-%Y") }}</time><br>
            <div class="entry">
                <h3>Time Spent: </h3>
                <p>{{ entry.time }}</p><br>
                <h3>What I Learned:</h3>
                <p>{{ entry.i_learned }}</p><br>
                <h3>Resources to Remember:</h3>
                <p>{{ entry.resources }}</p><br>
            </div>
        </article>
    </div>
 <div class="edit">
     <p><a href="{{ url_for('edit') }}">Edit Entry</a></p>
 </div>
{% endblock %}