{% extends "layout.html" %}
{% from "macros.html" import render_field %}

{% block content %}
<h2>Edit Entry</h2>
<form method="POST" action="" class="edit-entry">
    {{ form.hidden_tag() }}
        {% for field in form %}
        <!--- Mel R found that I had forgot to label the proper fields when editing --->
        {% if field.widget.input_type != "hidden" %}
            {{ field.label }}
            {{ render_field(field) }}
        {% endif %}
        {% endfor %}
    <button type="submit" id="submit">Save Edit</button>
</form>
{% endblock %}