<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/static/normalize.css">
        <link rel="stylesheet" href="css/static/site.css">
    </head>
    <body>
        <header>
            <h1>My Learning Journal</h1>
            <div class="container">
                <div class="site-header">
                    <h2>Welcome! What have you learned today?</h2>
                    <div class="container">
                            <a href="{{ url_for('new_entry') }}" class="button icon-right">New Entry</a><br><br>
                            <a href="{{ url_for('index') }}" class="button icon-right" title="Home">Home Page</a><br><br>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="notification {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="container">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </section><br><br>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>